{% import "_includes/forms" as forms %}
<div class="meta user-types-hud">
    {% set selectedTypes = craft.organizations.userTypes.getQuery({
        organization: organization,
        user: user,
        select: ['typeId']
    }).column() %}

    {% namespace 'types' %}
        {% for heading, types in typeOptions %}
            {% if heading %}<h6 class="group-heading">{{ heading }}</h6>{% endif %}
            {% for id, label in types %}
                {% set selected = id in selectedTypes %}
                {{ forms.lightswitchField({
                    label: label|t('organizations'),
                    id: id,
                    name: id,
                    on: selected,
                }) }}
            {% endfor %}
        {% endfor %}
    {% endnamespace %}
</div>
