{% import "_includes/forms" as forms %}
<div class="meta">
    {% set selectedCtegoryIds = [] %}
    {% for category in categories %}
        {% set selectedCtegoryIds = selectedCtegoryIds|merge([category.id]) %}
    {% endfor %}

    {% namespace 'categories' %}
        {% for userCategory in craft.organizations.categories.findAll() %}
            {% set selected = userCategory.id in selectedCtegoryIds %}
            {{ forms.lightswitchField({
                label: userCategory.name|t('organizations'),
                id: userCategory.handle,
                name: userCategory.id,
                on: selected,
            }) }}
        {% endfor %}
    {% endnamespace %}
</div>

