@charset "UTF-8";

#organization-associations {

  .element {
    background: transparent;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    border-left: 0;

    margin-bottom: 6px;
    padding-bottom: 6px;

    position: relative;

    &:last-child {
      border-bottom: 0;

    }

    &:hover,
    &:focus {

      .delete {
        opacity: 1;
      }

    }

    .delete {
      position: absolute;
      right: 0;
      top: 0;
      opacity: .2;
    }

  }

}
