{% set user = context.user ?? null %}
{% if user %}
    {% from _self import listOrganizations %}
    {{ listOrganizations(user) }}
{% endif %}

{% macro listOrganizations(user) %}
    {% set organizations = user.getOrganizations({status: null}).all() %}
    {% if organizations|length %}
        {% do view.registerAssetBundle("flipbox\\organizations\\web\\assets\\userassociations\\UserAssociations") %}
        {% js %}
            new Craft.OrganizationManageAssociations({
                sourceElementId: {{ user.id }},
                criteria: {
                    enabledForSite: null,
                    siteId: {{ user.siteId ?? craft.app.sites.currentSite.id }}
                }
            });
        {% endjs %}
        <hr />
        <div class="meta read-only" id="organization-associations">
            <h4 class="heading">Organizations</h4>
            <div class="elements">
                {% set context = 'field' %}
                {% for element in organizations %}
                    {% hook "cp.elements.element" %}
                {% endfor %}
            </div>

            <div class="btn add icon dashed" tabindex="0">Add Organization</div>
        </div>
    {% endif %}
{% endmacro %}