@charset "UTF-8";
@import "../../../../../../../vendor/craftcms/cms/lib/craftcms-sass/mixins";

/* ----------------------------------------
/* Organization
/* ----------------------------------------*/
.tabs {

  > ul {

    > li {

      &.users {
        float: right;

      }

    }

  }

}

.edit-association {
  cursor: pointer;
  opacity: .1;

}

.user-types-icons {
  display: inline-block;
  height: 22px;
  vertical-align: middle;
  cursor: pointer;

  span {
    display: inline-block;

    + * {
      margin-left: -5px;

    }

  }

  &:hover,
  &:focus {

    svg {
      circle {
        stroke: $blue;
        opacity: 1;
      }
    }

  }
  
}

#user-index {
  tr {
    &:hover,
    &:focus {

      .edit-association {
        opacity: .5;
        color: $blue;

        &:hover,
        &:focus {
          opacity: 1;

        }

      }

    }

  }

}

.user-types-hud {

  .group-heading {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;

  }

  .field {
    padding-right: 36px;

  }

}

/* delete organization modal */
.deleteorganizationmodal,
.changeorganizationstatusmodal {
  .options {
    label {
      display: inline-block;
      line-height: 30px;

    }

  }

  .elementselect {
    @include margin-left(10px);
    display: inline-block;
    vertical-align: middle;

  }

  .buttons .spinner {
    @include floatright;
    @include margin-right(-20px);
    @include margin-left(-4px);

  }
}

#main-container {
  #main {
    #main-content {
      #details {
        .meta {

          + .meta {
            padding-top: 0;
            margin-top: -16px;

            > .field {
              border-top: 1px solid rgba(0, 0, 20, 0.1);
            }

          }

        }

      }

    }

  }

}
